{{>licenseInfo}}
{{#models}}{{#model}}/*
 * {{classname}}.h
 */

#ifndef {{classname}}_H
#define {{classname}}_H

#include <QJsonObject>

{{/model}}{{/models}}
{{#imports}}{{{import}}}
{{/imports}}

#include "{{prefix}}Object.h"
#include "{{prefix}}Enum.h"

{{#models}}
{{#model}}
{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{#description}}/*! 
 * {{description}}
 */{{/description}}
class {{classname}}: public {{prefix}}{{^isEnum}}Object{{/isEnum}}{{#isEnum}}Enum{{/isEnum}} {
public:
    {{classname}}();
    {{classname}}(QString json);
    ~{{classname}}() override;

    QString asJson () const override;
    QJson{{^isEnum}}Object{{/isEnum}}{{#isEnum}}Value{{/isEnum}} asJson{{^isEnum}}Object{{/isEnum}}{{#isEnum}}Value{{/isEnum}}() const override;
    void fromJson{{^isEnum}}Object{{/isEnum}}{{#isEnum}}Value{{/isEnum}}(QJson{{^isEnum}}Object{{/isEnum}}{{#isEnum}}Value{{/isEnum}} json) override;
    void fromJson(QString jsonString) override;

    {{^isEnum}}{{#vars}}
    {{#isEnum}}{{#allowableValues}}enum class {{enumName}} {{#enumVars}}{{#-first}}{{^isString}}: int {{/isString}}{{/-first}}{{/enumVars}}{
        UndefinedEnumValue = 0,
    {{#enumVars}}
        {{#enumDescription}}
        /**
        * {{enumDescription}}
        */
        {{/enumDescription}}
        {{{name}}}{{^-last}}, {{/-last}}
    {{/enumVars}}
    };{{/allowableValues}}

    {{{datatypeWithEnum}}} {{getter}}() const;{{^isReadOnly}}
    void {{setter}}(const {{{datatypeWithEnum}}} value);{{/isReadOnly}}
    bool {{baseName}}_isSet() const;
    {{/isEnum}}{{^isEnum}}{{{dataType}}} {{getter}}() const;{{^isReadOnly}}
    void {{setter}}(const {{{dataType}}} &{{name}});{{/isReadOnly}}
    bool {{baseName}}_isSet() const;
    {{/isEnum}}{{/vars}}{{/isEnum}}{{#isEnum}}{{#allowableValues}}
    enum e{{classname}} {{#enumVars}}{{#-first}}{{^isString}}: int {{/isString}}{{/-first}}{{/enumVars}}{
        UndefinedEnumValue = 0,
    {{#enumVars}}
        {{#enumDescription}}
        /**
        * {{enumDescription}}
        */
        {{/enumDescription}}
        {{{name}}}{{^-last}}, {{/-last}}
    {{/enumVars}}
    };{{/allowableValues}}
    {{classname}}(e{{classname}} value) : m_value(value), m_value_isSet(true), 
        m_value_isValid(value!=UndefinedEnumValue) { }
    bool operator==({{classname}} const &a) const { return m_value == a.m_value; }
    bool operator!=({{classname}} const &a) const { return m_value != a.m_value; }
    operator e{{classname}}() { return m_value; }
    {{classname}}& operator=(e{{classname}} v);

    {{classname}}::e{{classname}} getValue() const;
    void setValue(const {{classname}}::e{{classname}}& value);{{/isEnum}}
    
    virtual bool isSet() const override;
    virtual bool isValid() const override;

private:
    void init();
    {{^isEnum}}{{#vars}}
    {{#isEnum}}{{{datatypeWithEnum}}} m_{{name}};
    {{/isEnum}}{{^isEnum}}{{{dataType}}} m_{{name}};
    {{/isEnum}}bool m_{{name}}_isSet;
    bool m_{{name}}_isValid;
    {{/vars}}{{/isEnum}}
    {{#isEnum}}e{{classname}} m_value;
    bool m_value_isSet;
    bool m_value_isValid;
    {{/isEnum}}
};

{{#cppNamespaceDeclarations}}
}
{{/cppNamespaceDeclarations}}

#endif // {{classname}}_H
{{/model}}
{{/models}}
